################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

.gitignore
/Project/.vs/Project
/Project/Library
/Project/Logs
/Project/obj/Debug
/Project/Temp
/Project/Packages
/Project/Packages/packages-lock.json
/Project/ProjectSettings
/Project/ProjectSettings/PackageManagerSettings.asset
/Project/ProjectSettings/ProjectVersion.txt
/Project/UserSettings
/Project/Project.sln
/Project/HSVPicker.Editors.csproj
/Project/HSVPicker.csproj
/Project/FrameworkProjectDataDir
/Project/Assembly-CSharp.csproj
/Project/Assembly-CSharp-Editor.csproj
/Project/.vsconfig
/Project/Assembly-CSharp.Player.csproj
/Project/HSVPicker.Player.csproj
/Build/Mods/Core/.idea
/Project/PackageTemp/Content
/Build/Content/Package/Content.pkg
/Build/UnityPlayer.dll
/Build/UnityCrashHandler64.exe
/Build/SangoInfinity_Data
/Build/SangoInfinity_BurstDebugInformation_DoNotShip/Data/Plugins/x86_64
/Build/SangoInfinity_BackUpThisFolder_ButDontShipItWithYourGame
/Build/SangoInfinity.exe
/Build/GameAssembly.dll
/Build/baselib.dll
/Project/LoopScrollRect.Editor.csproj
*.csproj
/Data/Export/Scenario/~$剧本配置.xlsx
/Data/Export/Common/~$技能配置.xlsx
/Project/Packages/packages-lock.json
/Project/ProjectSettings/PackageManagerSettings.asset
/Project/ProjectSettings/ProjectVersion.txt
/Project/Packages/manifest.json
/Project/Assets/Resources/BillingMode.json
/Project/Assets/Resources/BillingMode.json.meta
/Project/SangoInfinity_BurstDebugInformation_DoNotShip/tempburstlibs
*.apk
/Project/无限三国_BurstDebugInformation_DoNotShip/tempburstlibs
/Project/Assets/StreamingAssets
/Project/Assets/StreamingAssets.meta
/无限三国_BurstDebugInformation_DoNotShip/tempburstlibs
*.exe
/Build/无限三国_Data
/Project/.editorconfig
/Build/无限三国_BurstDebugInformation_DoNotShip/Data/Plugins/x86_64
/Build/无限三国_BackUpThisFolder_ButDontShipItWithYourGame
/Project/Assets/Packages/Content.pkg+Content/unit
/Project/Assets/Packages/Content.pkg+Content/troop
/Project/Assets/Packages/Content.pkg+Content/Texture
/Project/Assets/Packages/Content.pkg+Content/unit.meta
/Project/Assets/Packages/Content.pkg+Content/troop.meta
/Project/Assets/Packages/Content.pkg+Content/Texture.meta
/Project/Assets/ModelEdit.unity
/Project/Assets/ModelEdit.unity.meta
/Project/HybridCLRData
/Build/Save
/Build/WinPixEventRuntime.dll
/Project/Assets/ttaa
/Project/Assets/ttaa.meta
/Build/Infinity三国志_BackUpThisFolder_ButDontShipItWithYourGame
/Build/Infinity三国志_BurstDebugInformation_DoNotShip/Data/Plugins/x86_64
/Build/Infinity三国志_Data
/Infinity三国志_BurstDebugInformation_DoNotShip/tempburstlibs/arm64-v8a
/Project/.idea
/Project/Infinity三国志_BurstDebugInformation_DoNotShip
/Project/Assets/test.cs.meta
/Project/Assets/test.cs
/Build/Mods/Face/Package
/Build/Content/Package/win
/Build/Content/Package/android
/Project/PackageTemp/Face
/Project/Assets/Plugins/Roslyn
/Project/Assets/Plugins/Roslyn.meta
/.trae
